/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

/* Header styles */
#main {
  color: white;
  text-align: center;
}

.header h1 {
  font-size: 52px;
  color: white;
}

.header p {
  font-size: 36px;
  color: darkgoldenrod;
}

#about p {
  font-size: 28px;
  color: white;
}

/* Portfolio section styles */
.portfolio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.darkgoldenrod-side,
.white-side {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.icon-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon-container {
  margin: 0 10px;
}

.icon {
  max-width: 100px;
  max-height: 100px;
}

.icon-label {
  font-size: 14px;
  margin-top: 10px;
}

.white-side p {
  font-size: 16px;
  line-height: 1.6;
}

/* Technological arsenal section styles */
.lightskyblue-section,
.white-section,
.Projects {
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container img {
  margin: 10px;
  max-width: 100px;
  max-height: 100px;
}

/* Works section styles */
.Projects {
  display: flex;
  justify-content: center;
}

.text-side,
.image-side {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.text-side h2 {
  margin-bottom: 10px;
}

.text-side p {
  font-size: 16px;
}

/* Black background section styles */
.black-background {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.quote-box p {
  font-style: italic;
}

/* LinkedIn section styles */
.linkedin-section {
  text-align: center;
  padding: 20px;
}

.linkedin-link,
.email-link {
  color: blue;
  text-decoration: none;
  margin: 0 10px;
}

/* Media query for mobile view */
@media screen and (max-width: 600px) {
  .darkgoldenrod-side,
  .white-side,
  .text-side,
  .image-side {
    flex: 100%;
  }

  .icon-row {
    flex-direction: column;
    align-items: center;
  }

  .icon-container {
    margin: 10px 0;
  }

  .icon-label {
    margin-top: 5px;
  }

  .white-side p,
  .text-side p {
    font-size: 14px;
  }
}
